[Desktop Entry]
Encoding=UTF-8
Name=Bitcoin Ultra
Comment=Connect to the Bitcoin Ultra P2P Network
Comment[de]=Verbinde mit dem Bitcoin peer-to-peer Netzwerk
Comment[fr]=Bitcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bitcoin, eşten eşe kriptografik sanal para birimi
Exec=bitcoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/ultraBitcoin;
Categories=Office;Finance;
